.NextStepWrapper {
    border-top: 1px solid black;
    margin-top: 10vh;
    padding-bottom: 10vh;
}

.NextStepHeading {
    color: #ff00e5;
    padding: 0px 10%;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 7vh;
    font-size: 50px;
}
.NextStepPara {
    color: #fff;
    padding: 0px 16%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
}
.NextStepHeadingTwo {
    color: #ff00e5;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    padding: 0px 20%;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #770737, 0 0 20px #770737, 0 0 30px #770737, 0 0 40px #770737, 0 0 50px #770737;
    }

    to {
        text-shadow: 0 0 20px #ff00e5, 0 0 30px #ff00e5, 0 0 40px #ff00e5, 0 0 50px #ff00e5, 0 0 60px #ff00e5;
    }
}

@media (max-width: 1366px) {
    .NextStepHeading {
        font-size: 36px;
    }
    .NextStepHeadingTwo {
        font-size: 24px;
    }
    .NextStepPara {
        font-size: 24px;
    }
}

@media (max-width: 1050px) {
    .NextStepHeading {
        font-size: 30px;
    }
    .NextStepHeadingTwo {
        font-size: 22px;
    }
    .NextStepPara {
        font-size: 22px;
    }
}

@media (max-width: 800px) {
    .NextStepHeading {
        font-size: 20px;
    }
    .NextStepHeadingTwo {
        font-size: 18px;
    }
    .NextStepPara {
        font-size: 18px;
        padding: 0px 10%;
    }
    .NextStepWrapper {
        padding-bottom: 10vh;
    }
}

@media (max-width: 500px) {
    .NextStepHeading {
        font-size: 16px;
    }
    .NextStepHeadingTwo {
        font-size: 13px;
        padding: 0px 10%;
    }
    .NextStepPara {
        font-size: 13px;
        padding: 0px 10%;
        line-height: 24px;
    }
    .NextStepWrapper {
        padding-bottom: 5vh;
    }
}
